// Package layouts
package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/styles/global.css"/>
			<title>{ title }</title>
		</head>
		<body>
			<main>
				{ children... }
			</main>
			<script type="module" src="/static/scripts/global.js"></script>
		</body>
	</html>
}
